:root {
    --color-bgc: #fff;
    --color-gray: #4F4F4F;
    --color-blue: #2F80ED;
    --color-blue-hover: rgba(9, 54, 136, 0.89);
    --color-yellow: #FFCF10;
}

@media screen and (max-width: 1216px) {
    .container {
        width: 90vw;
    }
    .call {
        display: none;
    }
    .call-icon {
        display: inline;
        padding: 0;
        background-color: var(--color-blue);
        border-radius: 5px;
        text-decoration: none;
        margin: 0;
        max-height: 39px;
    }
    .call-icon:hover {
        background-color: var(--color-blue-hover);
        transition: 0.5s;
    }
    .call-icon>img {
        padding: 10px;
    }
    h1 {
        font-size: 52px;
        position: relative;
    }
    h3 {
        font-size: 24px;
    }
    .main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .advantage {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .advantage-item {
        width: 100%;
    }
    .main-img {
        height: 670px;
        border-radius: 400px;
    }
    .mobile-main-img {
        display: none;
    }
    .work-stage-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        text-align: center;
    }
    .number-stage {
        justify-content: center;
    }
    .stages {
        margin-bottom: 50px;
    }
    .info {
        font-size: 20px;
        box-sizing: border-box;
        justify-content: start;
        align-items: center
    }
    .icon-info {
        margin-left: 20px;
    }
    .text-info>br {
        display: none;
    }
    .get-work {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .input {
        width: 354px;
    }
    .workink-conditions-item {
        background: url("../img/svgrect-medium.svg") no-repeat;
        width: 355px;
        height: 89px;
    }
    .workink-conditions-text {
        padding: 40px 10px;
    }
    .workink-conditions-number {
        position: absolute;
        margin-top: -30px;
    }
    .steps {
        flex-flow: row wrap;
        justify-content: space-evenly
    }
    .step-item {
        height: 84px;
        width: 354px;
        margin: 0 20px;
        margin-bottom: 50px;
    }
    .learn-more-title {
        text-align: center;
    }
    .learn-more-content {
        flex-direction: column;
        align-items: center;
    }
    .learn-more-video {
        margin-bottom: 50px;
    }
    .learn-more-info-text {
        margin-bottom: 50px;
    }
    .documents {
        flex-wrap: wrap;
        justify-content: center;
    }
    .document-item {
        margin: 20px auto;
    }
    .sing-up-content {
        flex-direction: column;
    }
    .sing-up-question-item {
        margin-bottom: 20px;
    }
    .sing-up-form-title {
        margin-top: 50px;
    }
    .vertical-form {
        flex-direction: row;
    }
    .our-office-content {
        flex-direction: column;
    }
    .map {
        margin: 0 auto;
    }
    .our-office-address {
        width: 100%;
        margin-bottom: 50px;
        border-radius: 15px;
    }
    .our-office-address-text {
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
    }
}

@media screen and (min-width: 375px) and (max-width: 768px) {
    .container {
        width: 95%;
    }
    .slogan,
    .phone,
    .call {
        display: none;
    }
    .call-icon {
        display: inline;
    }
    .main {
        align-items: center;
        justify-content: space-evenly;
        margin: 0 auto;
    }
    h1 {
        font-size: 28px;
        text-align: center;
    }
    h1>br {
        display: none;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 16px;
        text-align: center;
        margin: 0 auto;
    }
    h4 {
        font-size: 16px;
    }
    .main-img {
        display: none;
    }
    .mobile-main-img {
        width: auto;
        height: 586px;
        border-radius: 400px;
        display: inline;
    }
    .advantage {
        margin: 10px 0;
    }
    .advantage-item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .star-icon {
        width: 40px;
    }
    .actual-vacancy {
        text-align: center;
    }
    .complect1 {
        width: 100%;
    }
    .working-conditions-list {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    .info {
        display: flex;
    }
    .text-info {
        max-width: 80%;
        padding-left: 0;
        margin-left: 20px;
        font-size: 16px;
    }
    .calculate {
        width: 100%;
    }
    h4>br {
        display: none;
    }
    .learn-more-video {
        width: 100%;
    }
    .learn-more-info {
        width: 100%;
    }
    .learn-more-info-text {
        width: 100%;
    }
    .map {
        width: 100%;
    }
    .basic-btn {
        width: 100%;
    }
    .next-btn {
        width: 136px;
    }
    .document-item {
        width: 318px;
        height: 454px;
    }
    .sing-up-question-text {
        font-size: 16px;
    }
    .our-office-address-text {
        flex-direction: column;
        align-items: center;
    }
}